<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload photos</title>
    <link rel="stylesheet" href="static/styles/index.css" />
</head>
<body>
    <div class="container">
        <form action="" target="_blank">
            <label>Click on upload to upload photo</label>
            <input type="file" name="photos" />
            <button>Submit</button>
        </form>
    </div>
</body>
</html>